* {
    margin: 0;
    padding: 0;
}

.container {
    min-width: 500px;
    margin: 20px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 20px;
    position: relative
}

.detail {
    margin-left: 222px;
    margin-right: 143px;
    height: 500px;
    background: #fff;
    border: 1px solid #999;
}

.logo {
    width: 200px;
    height: 120px;
    background: #fff;
    border: 1px solid #999;
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo>div {
    float: left;
    margin: 20px;
}

.logo>p {
    float: left;
    margin-left: -10px;
    margin-top: 20px;
}

.other {
    background: #fff;
    border: 1px solid #999;
    position: absolute;
    top: 20px;
    right: 20px;
}

.logo-image {
    border: 1px solid #999;
    width: 80px;
    height: 80px;
    margin: 20px;
}

.other>ul {
    list-style: none;
}